<h1>Display your Pirate here</h1>
Name: <%= Pirate.all.last.name %><br>
Height: <%= Pirate.all.last.height %><br>
Weight: <%= Pirate.all.last.weight %><br>

<h2>Display your first ship here</h2>
Name: <%= Ship.all[Ship.all.length-2].name %>
Type: <%= Ship.all[Ship.all.length-2].type %>
Booty: <%= Ship.all[Ship.all.length-2].booty %>

<h2>Display your second ship here</h2>
Name: <%= Ship.all[Ship.all.length-1].name %>
Type: <%= Ship.all[Ship.all.length-1].type %>
Booty: <%= Ship.all[Ship.all.length-1].booty %>
